<html>
<head>
<script language="javascript">
function ajax_request(method){
const xhr = new XMLHttpRequest();  
const url = '/api/projects/1';  
xhr.open(method, url, true);  
xhr.setRequestHeader('Content-Type', 'application/json');  
xhr.onreadystatechange = function() {  
    if (xhr.readyState === 4 && xhr.status === 200) {  
        console.log('Resource updated successfully:', xhr.responseText);  
        alert (xhr.responseText);
    }  
};  
const data = JSON.stringify({ key: 'value' });  
xhr.send(data);  

}

</script>
</head>
<body>

<h1 onclick="f('GET');">Project list</h1>
<table>
<tr> <th>id</th> <th>name</th> <th>url</th> <th>platform</th> <th>status</th> <th>description</th> <th>date_create</th> <th>date_update</th></tr>
{% for project in project_list %} <tr><td>1{{ project.id }}</td> <td>{{ project.name }}</td> <td>{{ project.url }}</td> <td>{{ project.platform_name }}</td> <td>{{ project.status_name }}</td> <td>{{ project.description }}</td> <td>{{ project.date_create }}</td> <td>{{ project.date_update }}</td></tr> {% endfor %}
</table>
<hr/>
<span onclick="ajax_request('POST');">POST</span> <span onclick="ajax_request('GET');">GET</span> <span onclick="ajax_request('PUT');">PUT</span> <span onclick="ajax_request('DELETE');">DELETE</span>
</body>
</html>